# Python stuff
venv/
__pycache__/
.ipynb_checkpoints/

# Mac stuff
.DS_Store

# Project specific stuff
project-brief.md
udacity-starter-readme.md
rubric.md

# Environments
.env

# Output files
chromadb/
